.container{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,110,1) 35%, rgba(0,212,255,1) 100%);
    
}

.content-headline{

    margin-bottom:25px;
    padding:10px;
    border-bottom: 3px solid black;
    text-align: center;
}

.content-headline h2{

    font-size:40px;
    color:white

}

.form{

    padding:10px;
    width:30vw;
    height: 40vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:35px;
}

.content-input label{

    color:black;
    font-size:18px;
    font-weight:600;
}





.content-input input{

    display:block;
    border:0.5px solid transparent;
    border-radius: 5px;
    outline:none;
    padding:5px

}

.content-input input:hover{

    border:0.5px solid black;
}

.form button{

    width:47%;
    padding:5px;
    border-radius: 5px;
    border:1px solid transparent;
    cursor:pointer;

    color:white;
    font-size:16px;
    font-weight: bold;

    background-color: rgba(9,121,110,1);

    margin-top:1px;
}

.form button:hover{

    border: 1px solid black;
}

.form button:active{

    opacity:0.6;
}

